<div class="seller-auth">
    <div *ngIf="!registered" class="sign-up">
        <h1>SignUp Form</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)" class="common-form">
            <input class = "form-input" ngModel name="name" type="text" placeholder="Enter Name" >
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter your password" >
            <input  class="form-input" ngModel name="email" type="email" placeholder="Enter your email">
            <button class="form-button">Signup</button>
            <a (click)="toggleRegistered()">Already have an account? Log In </a>
        </form>
    </div>
    <div *ngIf="registered" class="seller-login">
        <h1>Login Form</h1>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input  class="form-input" ngModel name="email" type="email" placeholder="Enter your email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter your password" >
            <button class="form-button">Login</button>
            <a (click)="toggleRegistered()">Don't have an account? Sign Up! </a>
        </form>
    </div>
</div>