/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}

.container {
    margin-left: 8%;
    margin-right: 8%;
}

.common-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 300px;
}

.form-input {
    height: 32px;
    margin-bottom: 24px;
    padding-left: 8px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button {
    height: 32px;
    border: 1px solid blueviolet;
    cursor: pointer;
}